numpy==1.19.2
pandas==1.2.3 
torch==1.7.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.8.2
scikit-learn==0.23.2
catboost==0.23
tqdm
statsmodels
pystan==2.19.1.1
ephem==3.7.7.1
prophet
xgboost
space_bandits